body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 55px;
}

.orange {
    color: rgb(250, 173, 29);
}

.top-banner {

    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half {
    width: 50%;
    padding: 6%;
}

.half img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 153, 0), rgb(248, 192, 9));
    padding: 8px 30px;
    border-radius: 6px;
}